apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgresql-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
      - name: postgresql
        image: postgres:13
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: "nakama"
        - name: POSTGRES_USER
          value: "nakama"
        - name: POSTGRES_PASSWORD
          value: "yourpassword"
        volumeMounts:
        - name: postgresql-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgresql-data
        persistentVolumeClaim:
          claimName: postgresql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
spec:
  selector:
    app: postgresql
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nakama-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nakama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nakama
  template:
    metadata:
      labels:
        app: nakama
    spec:
      containers:
      - name: nakama
        image: heroiclabs/nakama:latest
        ports:
        - containerPort: 7350
        - containerPort: 7351
        - containerPort: 7349
        - containerPort: 7348
        env:
        - name: NAKAMA_SERVER_KEY
          value: "defaultkey"
        - name: NAKAMA_DATABASE_ADDRESS
          value: "postgresql:5432"
        - name: NAKAMA_DATABASE_USERNAME
          value: "nakama"
        - name: NAKAMA_DATABASE_PASSWORD
          value: "yourpassword"
        volumeMounts:
        - name: nakama-data
          mountPath: /nakama/data
        command: ["/bin/sh", "-ecx"]
        args:
        - >
          /nakama/nakama migrate up --database.address nakama:yourpassword@postgresql:5432/nakama && exec /nakama/nakama --name nakama1 --database.address nakama:yourpassword@postgresql:5432/nakama --logger.level DEBUG --session.token_expiry_sec 7200
      volumes:
      - name: nakama-data
        persistentVolumeClaim:
          claimName: nakama-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: nakama
spec:
  selector:
    app: nakama
  ports:
    - protocol: TCP
      port: 7350
      targetPort: 7350
