apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
        - tunnel
        - --config
        - nakama-tunnel
        - /etc/cloudflared/credentials.json
        - run
        volumeMounts:
        - name: cloudflare-tunnel-cred
          mountPath: /etc/cloudflared
        ports:
        - containerPort: 443
        - containerPort: 80
      volumes:
      - name: cloudflare-tunnel-cred
        secret:
          secretName: cloudflare-tunnel-credentials