apiVersion: v1
kind: Service
metadata:
  name: cloudflared
spec:
  selector:
    app: cloudflared
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
    - protocol: TCP
      port: 443
      targetPort: 443
    - protocol: TCP
      port: 8080
      targetPort: 8080
